.idea/externalDependencies.xml
.idea/fuzzy-logic.iml
.idea/misc.xml
.idea/modules.xml
.idea/other.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
__pycache__/file_parser.cpython-37.pyc
__pycache__/file_parser.cpython-36.pyc
